body{
	margin: 0 auto;
}
.big_button{
    margin: 10px 0;
}
.big_button img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:75px;
	height:75px;
}
.big_button .label{
	text-align:center;
}
.ui-content{
	text-align:center;
}
.buttonbar{
	margin-top:20px;
}
.ui-link{
	font-weight:normal !important;
}
.important a{
	color:#ffffff !important;
}
.important a:hover{
	cursor:pointer;
}
.important{
	text-align:center;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
	border: 1px solid #febbbb;
	margin:5px;

	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
}
.notify{
    text-align:center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:5px;
    border: 1px solid #bbb;
    margin:5px;

    background: #f2f5f6;
    background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
    background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
}

#markevent{
    display: none;
}
.center{
    margin-right:auto;
    margin-left: auto;
}
.wrap{
    width:300px;
}
#graph, #mood1_graph, #mood2_graph, #mood3_graph, #mood4_graph, #mood5_graph{
    width:270px;
    height:300px;
}
#mood1_graph, #mood2_graph, #mood3_graph, #mood4_graph, #mood5_graph{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.slider_block{
	height:40px;
	margin-top:15px;
	margin-bottom:15px;
}
.slider_block .ui-block-a{
    width:25% !important;
    text-align: center;
}
.slider_block .ui-block-b{
    width:50% !important;
}
.slider_block .ui-block-c{
    width:25% !important;
    text-align: center;
}

.ui-slider-input{
	display:none !important;
}
#lbl_hours_slider{
    font-size:30px;
    margin: 5px 0px;
}
.ui-slider-input{
    width:0px !important;
    margin:0px !important;
    padding:0px !important;
}
a {
	text-decoration:none;
}
#step .item {
  list-style-type: none; 
  background: url(../images/list-line.png) no-repeat;
  padding-top:5px;
}
#authorize-button-calendar, #authorize-button-appengine{
    display: none;
}
.ui-grid-solo .ui-slider{
    margin:10px 0px!important;
}
label, input{
    display:block;
}

#heartrate_label{
    font-size: 80px;
    float:left;
    display:block;
}
#bpmspan{
    float:left;
    color:darkred;
    font-size: 30px;
    display:block;
    vertical-align: top;
}