body{
	margin: 0 auto;
	min-width:350px;
}

.big_button{
	float:left;
	margin-right:10px;
	margin-left:10px;
	width:150px;
	height:120px;
}
.big_button img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:75px;
	height:75px;
}
.big_button .label{
	text-align:center;
}
.ui-content{
	min-width:350px;
	text-align:center;
}
.buttonbar{
	margin-top:20px;
}
.ui-link{
	font-weight:normal !important;
}
.important a{
	color:#ffffff !important;
}
.important a:hover{
	cursor:pointer;
}
.important{


	text-align:center;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
	border: 1px solid #febbbb;
	margin:5px;

	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
}
.notify{
	text-align:center;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:5px;
	border: 1px solid #bbb;
	margin:5px;
	
	background: #f2f5f6;
	background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
	background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
	background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
	background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
	background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
}

.wrap{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}

.slider_block{
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
}
.slider_block .ui-slider{
	height:10px;
	width:200px;
	margin:0 20px 0 20px;
	
}
.slider_block input{
	
}
.slider_block label{
	width:75px;
}
.slider_block label.first{
	float:left;
	text-align:right;
}
.slider_block label.last{
	text-align:right;
}
.ui-slider-input{
	display:none !important;
}

a {
	text-decoration:none;
}
#step .item {
  list-style-type: none; 
  background: url(images/list-line.png) no-repeat;
  padding-top:5px;
}