QuantifyThisAndroid/.classpath
QuantifyThisAndroid/.settings/org.eclipse.jdt.core.prefs
build.xml
QuantifyThisAppEngine/war/WEB-INF/lib/appengine-api-1.0-sdk-1.7.3.jar
QuantifyThisAppEngine/war/WEB-INF/lib/appengine-api-labs-1.7.3.jar
QuantifyThisAppEngine/war/WEB-INF/lib/appengine-jsr107cache-1.7.3.jar
QuantifyThisAppEngine/war/WEB-INF/lib/datanucleus-appengine-1.0.10.final.jar
QuantifyThisAppEngine/war/WEB-INF/lib/datanucleus-core-1.1.5.jar
QuantifyThisAppEngine/war/WEB-INF/lib/datanucleus-jpa-1.1.5.jar
QuantifyThisAppEngine/war/WEB-INF/lib/geronimo-jpa_3.0_spec-1.1.1.jar
QuantifyThisAppEngine/war/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar
QuantifyThisAppEngine/war/WEB-INF/lib/gwt-api-checker.jar
QuantifyThisAppEngine/war/WEB-INF/lib/gwt-codeserver.jar
QuantifyThisAppEngine/war/WEB-INF/lib/gwt-dev.jar
QuantifyThisAppEngine/war/WEB-INF/lib/gwt-elemental.jar
QuantifyThisAppEngine/war/WEB-INF/lib/gwt-servlet-deps.jar
QuantifyThisAppEngine/war/WEB-INF/lib/gwt-servlet.jar
QuantifyThisAppEngine/war/WEB-INF/lib/gwt-soyc-vis.jar
QuantifyThisAppEngine/war/WEB-INF/lib/gwt-user.jar
QuantifyThisAppEngine/war/WEB-INF/lib/jdo2-api-2.3-eb.jar
QuantifyThisAppEngine/war/WEB-INF/lib/jsr107cache-1.1.jar
QuantifyThisAppEngine/war/WEB-INF/lib/requestfactory-apt-src.jar
QuantifyThisAppEngine/war/WEB-INF/lib/requestfactory-apt.jar
QuantifyThisAppEngine/war/WEB-INF/lib/requestfactory-client+src.jar
QuantifyThisAppEngine/war/WEB-INF/lib/requestfactory-client-src.jar
QuantifyThisAppEngine/war/WEB-INF/lib/requestfactory-client.jar
QuantifyThisAppEngine/war/WEB-INF/lib/requestfactory-server+src.jar
QuantifyThisAppEngine/war/WEB-INF/lib/requestfactory-server-src.jar
QuantifyThisAppEngine/war/WEB-INF/lib/requestfactory-server.jar
QuantifyThisAppEngine/war/WEB-INF/lib/validation-api-1.0.0.GA-sources.jar
QuantifyThisAppEngine/war/WEB-INF/lib/validation-api-1.0.0.GA.jar
QuantifyThisAppEngine/war/WEB-INF/classes/be/mume/quantifythis/appengine/QuantifyThisAppEngine.gwt.xml
QuantifyThisAppEngine/war/WEB-INF/classes/log4j.properties
build.example.xml
