body{
	margin: 0 auto;
}
.big_button{
    margin: 10px 0;
}
.big_button img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:75px;
	height:75px;
}
.big_button .label{
	text-align:center;
}
.ui-content{
	text-align:center;
}
.buttonbar{
	margin-top:20px;
}
.ui-link{
	font-weight:normal !important;
}
.important a{
	color:#ffffff !important;
}
.important a:hover{
	cursor:pointer;
}
.important{
	text-align:center;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:5px;
	border: 1px solid #febbbb;
	margin:5px;

	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
}
#markevent{
    display: none;
}
.center{
    margin-right:auto;
    margin-left: auto;
}
.wrap{
    width:300px;
}
#graph, #mood1_graph, #mood2_graph, #mood3_graph, #mood4_graph, #mood5_graph{
    width:270px;
    height:300px;
}
#mood1_graph, #mood2_graph, #mood3_graph, #mood4_graph, #mood5_graph{
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}
.slider_block{
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
}
.slider_block .ui-block-a{
    width:25% !important;
    text-align: center;
}
.slider_block .ui-block-b{
    width:50% !important;
}
.slider_block .ui-block-c{
    width:25% !important;
    text-align: center;
}
.ui-slider-input{
	display:none !important;
}
a {
	text-decoration:none;
}
#step .item {
  list-style-type: none; 
  background: url(../images/list-line.png) no-repeat;
  padding-top:5px;
}
#authorize-button-calendar{
    display: none;
}
#authorize-button-appengine{
    display: block;
}
.ui-grid-solo .ui-slider{
    margin:10px 0px!important;
}
label, input{
    display:block;
}
#slider-many-hours .ui-slider-input{
    display:inline !important;
}
