<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>be.gapps.ratethedog.DeviceInfoEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>RetrievalService</servlet-name>
  <servlet-class>be.gapps.ratethedog.server.webservices.RetrievalService</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>RetrievalService</servlet-name>
  <url-pattern>/RetrievalService</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>CreationService</servlet-name>
  <servlet-class>be.gapps.ratethedog.server.webservices.CreationService</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>CreationService</servlet-name>
  <url-pattern>/CreationService</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>LoginService</servlet-name>
  <servlet-class>be.gapps.ratethedog.server.webservices.LoginService</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>LoginService</servlet-name>
  <url-pattern>/LoginService</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>HtmlService</servlet-name>
  <servlet-class>be.gapps.ratethedog.server.webservices.HtmlService</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>HtmlService</servlet-name>
  <url-pattern>/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>AdminService</servlet-name>
  <servlet-class>be.gapps.ratethedog.server.webservices.AdminService</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>AdminService</servlet-name>
  <url-pattern>/AdminService</url-pattern>
 </servlet-mapping>
 
</web-app>